{
  "env": {
    "browser": false,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "NodeJS": true
  },
  "extends": ["standard"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["warn", "never"],
    "object-curly-spacing": ["warn", "always"],
    "array-bracket-spacing": ["warn", "always"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "quotes": ["warn", "single"]
  }
}
